body {
  background-color: #1B1B1B;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center; /* Center content */
  align-items: center; /* Vertically center items */
  padding: 16px;
  position: relative;
  flex-wrap: wrap; /* Allows items to wrap on small screens */
}

header h1 {
  margin: 0;
  font-size: 32px;
  text-align: center; /* Center text */
  flex-grow: 1; /* Allow title to take available space */
}

header .anime {
  color: #fff;
}

header .hub {
  background-color: #ffa31a;
  color: #000;
  border-radius: 2px;
}

.menu-container {
  position: absolute; /* Keep the menu on the left */
  left: 16px;
}

.about-button {
  background-color: #ffa31a; /* Button background color */
  color: #000; /* Text color */
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Padding around the button */
  border-radius: 5px; /* Rounded corners */
  position: absolute; /* Position it in the top right */
  right: 15px; /* Align to the right */
  top: 15px; /* Align to the top */
  transition: background-color 0.3s; /* Smooth transition */
}

.about-button:hover {
  background-color: #ffa31a; /* Darker shade on hover */
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.menu-dash {
  width: 24px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  border-radius: 2px;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  max-height: 200px; /* Set max height for scrollable effect */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #292929;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px #808080;
  padding: 10px;
  z-index: 9;
}

.menu.visible {
  display: block;
}

.menu-item {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #808080;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  background-color: #444;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.container a {
  display: block;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px #808080;
}

.footer-bottom {
  background: #292929;
  color: #fff;
  text-align: center;
  padding: 10px;
}
